# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / dist
dist/
build/

# Cache
.cache
.vite/
.eslintcache

# Sistema operacional
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Testes / cobertura
coverage/

# Temporários
*.log
*.tmp